<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yb.ecp.fast.user.dao.mapper.PasswordMapper">
  <resultMap id="BaseResultMap" type="yb.ecp.fast.user.dao.entity.PasswordDO">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <id column="type" jdbcType="DECIMAL" property="type" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, type, password, update_time
  </sql>

  <select id="checkByPrimaryKey" parameterType="yb.ecp.fast.user.dao.entity.PasswordDOKey" resultType="java.lang.Integer">
    select
      COUNT(1)
    from ius_password
    where user_id = #{userId,jdbcType=VARCHAR}
    and type = #{type,jdbcType=DECIMAL}
  </select>
  <select id="selectByPrimaryKey" parameterType="yb.ecp.fast.user.dao.entity.PasswordDOKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ius_password
    where user_id = #{userId,jdbcType=VARCHAR}
      and type = #{type,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="yb.ecp.fast.user.dao.entity.PasswordDOKey">
    delete from ius_password
    where user_id = #{userId,jdbcType=VARCHAR}
      and type = #{type,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="yb.ecp.fast.user.dao.entity.PasswordDO">
    insert into ius_password (user_id, type, password,
      update_time)
    values (#{userId,jdbcType=VARCHAR}, #{type,jdbcType=DECIMAL}, #{password,jdbcType=VARCHAR},
      systimestamp)
  </insert>
  <update id="updateByPrimaryKey" parameterType="yb.ecp.fast.user.dao.entity.PasswordDO">
    update ius_password
    set password = #{password,jdbcType=VARCHAR},
      update_time =systimestamp
    where user_id = #{userId,jdbcType=VARCHAR}
      and type = #{type,jdbcType=DECIMAL}
  </update>
</mapper>